@tailwind base;
@tailwind components;
@tailwind utilities;

.text-h1 {
	@apply text-6xl;
}
.text-h2 {
	@apply text-5xl;
}
.text-h3 {
	@apply text-3xl;
}
.text-h4 {
	@apply text-xl;
}

.prose {
	max-width:100%;
	color:inherit;
}

/* buger menu */
.bm-burger-button {
	
	position: fixed;
	width: 6px;
	height: 30px;
	right: 36px;
	top: 20px;
	margin-top: 6px;
	margin-right: 20px;
  }
  
  
  
  .bm-burger-bars {
	background: #1b1b1b;
  }
  
  
  .bm-cross-button {
	height: 48px;
	width: 48px;
	margin-right: 5px;
	margin-top: 5px;
  }
  
  
  .bm-cross {
	background: black;
  }
  
  
  .bm-menu-wrap {
	position: fixed;
	height: 100%;
  }
  
  
  .bm-menu {
	background: white;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
  }
  
  
  .bm-item-list {
	color: #b8b7ad;
	padding: 0.8em;
	margin-top: 40px;
  }
  
  /* Individual item */
  .bm-item {
	display: inline-block;
	color: #57575a;
  }
  
  
  .bm-overlay {
	background: rgba(0, 0, 0, 0.3);
  }


  @font-face {
	font-family: 'Archia';
	src: url('../fonts/archia.woff2');
	font-weight: 400;
	font-style: normal;
	}

  @font-face {
	font-family: 'Bolton';
	src: url('../fonts/bolton.woff2');
	font-weight: 400;
	font-style: normal;
	}
  @font-face {
	font-family: 'Bolton Light';
	src: url('../fonts/bolton-light.woff2');
	font-weight: 400;
	font-style: normal;
	}

	

  
  .navigation-wrapper {
	position: relative;
  }
  
  .dots {
	display: flex;
	padding: 10px 0;
	justify-content: center;
  }
  
  .dot {
	border: none;
	width: 10px;
	height: 10px;
	background: #c5c5c5;
	border-radius: 50%;
	margin: 0 5px;
	padding: 5px;
	cursor: pointer;
  }
  
  .dot:focus {
	outline: none;
  }
  
  .dot.active {
	background: #000;
  }


  /* accordion styles */

  .content, .heading {
	  display: none;
  }
  
  .content.active, .heading.active {
	  display: block;
  }
  

  .achieve {
	  height: 900px;
	  background-color: #2C3633;
  }
  
  @media only screen and (max-width: 500px) { 
	  
	  .achieve {
		  height: 550px;
	  }
  }


 .ourmission {
	font-weight: 500;
	font-size: 56px; 
	line-height: 60px; 
	
}


@media only screen and (max-width: 600px) {

	.ourmission { 
		
		font-size: 20px;
		line-height: 30px; 
	}
	
}
 /* text color animation */

 .text-animation {
	background-image: 
	  linear-gradient(to right, black, gray); 
	-webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;  
	animation: text-animation 150s linear infinite;
  }
  
  @keyframes text-animation {
	  to {
		  background-position: 4500vh;
	  }
  }

  
  


